@import "utils/vars.scss";
@import "utils/mixins.scss";
@import "utils/reset.scss";

body {
  font-family: $mainFont;
  background-color: #f3f3f3;
}

.container {
  max-width: 1171px;
  margin: 0 auto;
  padding: 0 15px;
}

.hide {
  display: none;
}

.show {
  display: '';
}

@import "modules/header.scss";
@import "modules/header__slider.scss";
@import "modules/services__section.scss";
@import "modules/why__section.scss";