- var i = 0;
- var list = ['Quisque at massa ipsum','Maecenas a lorem augue, egestas','Cras vitae felis at lacus eleifend', 'Etiam auctor diam pellentesque','Nulla ac massa at dolor','Condimentum eleifend vitae vitae'];

.why-choose
  h2.why-choose__header Why Choose Us ?
  ul.why-choose__list
    while i < 6
      li
        +list('fas fa-arrow-right', list[i])
      -i++
.why-percent
  p.why-percent__descr Curabitur quis nisl in leo euismod venenatis eu in diam.
    | Etiam auctor diam pellentesque lectus #[span vehicula mattis].
    | Nulla ac massa at dolor condimentum eleifend vitae vitae urna.
  .percents-wrap
    +percent(50, 'Suspendisse')
    +percent(70, 'Maecenas')
    +percent(80, 'Aliquam')
    +percent(100, 'Habitasse')
.why-review
  h3.review__header What Client’s Say ?
  p.review__descr Curabitur quis nisl in leo euismod venenatis eu in diam.
    | Etiam auctor diam pellentesque lectus vehicula mattis.
    | Nulla ac massa at dolor condimentum
  .right-triangle
  span.review__author Jhon Doe