section.clients
  .container
    .clients-header
      h3.clients-header__head Our Happy Clients
      .line
        svg
          g
            circle(cx=5 cy=5 r=5)
            line(x1=0 y1=0 x2=880 y2=0)
      .clients-buttons
        button.clients__btn.btn-left
          i.fas.fa-angle-left
        button.clients__btn.btn-right
          i.fas.fa-angle-right
    .carousel
      .clients-slider
        - var q = 0;
        while q < 6
          .slide
            img(src="../../../assets/img/client.png" alt="client" class="slide-single")
          -q++