header.header
  .container
    .content-wrapper
      img(src="../../../assets/img/logo.png" alt="MODUS versus" class="logo")
      nav.navBar
        ul.navBar__item.topmenu
          for item in [{name: 'Home', href: './index.html'}, {name: 'About', href: './about.html'}, {name: 'Portfolio'}, {name: 'Blog', href: './blog.html'}, {name: 'Features', href: './features.html'}, {name: 'Contacts', href: './contacts.html'}]
            if (item.name === 'Portfolio')
              +portfolio('Portfolio')
            else
              +navLink(item.href, item.name)
      .search
        .search__icon
          i.fas.fa-search
        .search__form.hide
          .triangle
          form(name="search")
            input(type="search" name="search" id="searchItem" placeholder="Search the site" autocomplete)
.header-ruler
  img(src="../../../assets/img/ruler.png" alt="ruler" class="ruler")