extends ../layout/main

block variables
  - var title = 'MODUS versus';
  - var pageClass = 'blog-page';
  -
    var docs = {
      month: 'May',
      day: 26,
      h3: 'Duis dapibus aliquam mi, eget euismod sem scelerisque ut.',
      p: `
        Maecenas eget turpis turpis. Nunc vel metus augue. 
        Aenean euismod cursus ligula eget dapibus. 
        Praesent vel erat in tortor placerat dignissim. 
        Duis dapibus aliquam mi, eget euismod sem scelerisque ut. 
        Vivamus at elit quis urna adipiscing iaculis. Curabitur vitae velit in neque dictum blandit. 
        Proin in iaculis neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      `
    };
  -
    var image = {
      month: 'May',
      day: 19,
      h3: 'Duis dapibus aliquam mi, eget euismod sem scelerisque ut.',
    };

block content
  main.blog-main
    +pageTitle('Blog')
    .container
      .blog-container
        section.blog-content
          .blog-item.docs
            +docsBlogPost(docs.month, docs.day, docs.h3, docs.p)
          .blog-item.image
            +imageBlogPost(image.month, image.day, image.h3)
          .blog-item.video
            .blog-datatype
              .blog__date
                p May
                span 16
              .blog__type
                i.fas.fa-film
            .blog-post
              .video-container
                video(id="video-player" poster="../../assets/img/poster.png")
                  source(src="../../assets/video/skeletor.mp4" type="video/mp4")
                  source(src="../../assets/video/skeletor.webm" type="video/webm")
                  source(src="../../assets/video/skeletor.ogv" type="video/ogg")
                .controls
                  button.togglePlay.paused #[i.fas.fa-play]
                  progress(max="100" value="0")
                  p #[span.currentTimestamp 00:00] / #[span.entireDuration 00:00]
                  button.expand #[i.fas.fa-expand-alt]
              h3 Duis dapibus aliquam mi, eget euismod sem scelerisque ut.
              p Posted by #[span Admin] in #[span Video] #[span #[i.fas.fa-tags] Nature] #[span #[i.fas.fa-comments] 22]
        include ../includes/modules/blog-aside
