extends ../layout/main

block variables
  - var title = 'MODUS versus';
  - var pageClass = 'index-page';

block content
  .header__slider
    .header__wrap
      .slider__arrow.angle-left
        i.fas.fa-angle-double-left
      .slider__content
        .slider__content-inner
          .head-wrap
            h1.slider-header Vestibulum
          .descr-wrap
            p.slider-description Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.
        .slider__content-inner.hide
          .head-wrap
            h1.slider-header Modus
          .descr-wrap
            p.slider-description Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.
        .slider__content-inner.hide
          .head-wrap
            h1.slider-header Versus
          .descr-wrap
            p.slider-description Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.
      .slider__arrow.angle-right
        i.fas.fa-angle-double-right
    .header__border
      .border
      .border.border-active
      .border