extends ../layout/main

block variables
  - var title = 'MODUS versus';
  - var pageClass = 'index-page';
  -
    var slider = [
      {h1: 'Modus', p: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, nesciunt!'},
      {h1: 'Vestibulum', p: 'Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.'},
      {h1: 'Versus', p: `Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Atque itaque assumenda reprehenderit ab necessitatibus delectus est rem doloremque 
        tenetur iure, unde rerum debitis, consequuntur minima.`}
      ];

block content
  +slider(slider[0].h1, slider[0].p, slider[1].h1, slider[1].p, slider[2].h1, slider[2].p)
  section.service
    .container
      .top-services
        .wrap
          h2.service__header Some of our top services
          p.service__descr Ut eleifend libero sed neque rhoncus consequat.
            | Maecenas tincidunt, augue et rutrum condimentum,
            | libero lectus mattis orci, ut commodo. 
        button.service__btn View&nbsp;more
      .service-cards
        +card('far fa-thumbs-up', 'SUSPENDISSE',
          ' Quisque id tellus quis risus vehicula vehicula ut turpis. In eros nulla, placerat vitae at, vehicula ut nunc.')
        +card('fas fa-key', 'MAECENAS',
          'Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.')
        +card('fas fa-flag', 'ALIQUAM',
          'Vivamus eget ante bibendum arcu vehicula ultricies. Integer venenatis mattis nisl, vitae pulvinar dui tempor non.')
        +card('fas fa-flask', 'HABITASSE',
          'Astehicula ultricies. Integer venenatis mattis nisl, vitae pulvinar dui tempor non.')
  section.why
    .why__ruler
      img(src="../../assets/img/ruler-w.svg" alt="white ruler")
    .container
      .why-prev
        .why__title
          h2.why__header Why modus versus?
          p.why__descr Capacitance cascading integer reflective interface data development
            | high bus cache dithering transponder.  
        .why-slider
          +whyImg('#')
          +whyImg('#')
          +whyImg('#')
      .why-after
        include ../includes/modules/block-why
      include ../includes/modules/carousel
