extends ../layout/main

block variables
  - var title = 'MODUS versus';
  - var pageClass = 'portfolio1-page portfolioPage';
  -
    var filterNtns = [
      {name: 'all', class: 'all'}, 
      {name: 'web design', class: 'webDesign'}, 
      {name: 'logo design', class: 'logoDesign'}, 
      {name: 'photography', class: 'photography'}, 
      {name: 'wordpress', class: 'wordpress'}
    ];

block content
  main.portfolio1-main
    +pageTitle('Portfolio')
    section.portfolio-posts
      .container
        .portfolio
          .portfolio-btns
            for item in filterNtns
              button(class=`portfolio-btn__item ${item.class}`)=item.name
          .portfolio-post-block
          .portfolio-post-pages
            button.prev-btn #[i.fas.fa-angle-left]
            .portfolio-pages
            button.next-btn #[i.fas.fa-angle-right]