extends ../layout/main

block variables
  - var title = 'MODUS versus';
  - var pageClass = 'portfolio1-page portfolioPage';

block content
  main.portfolio1-main
    +pageTitle('Portfolio')
    section.portfolio-posts
      .container
        .portfolio
          .portfolio-btns
            for item in ['all', 'web design', 'logo design', 'photography', 'wordpress']
              button.portfolio-btn__item=item
          .portfolio-post-block
          .portfolio-post-pages
            button.prev-btn #[i.fas.fa-angle-left]
            .portfolio-pages
            button.next-btn #[i.fas.fa-angle-right]