.why {
  background-color: #ececec;

  .why__ruler {
    margin-bottom: 50px;

    img {
      height: 20px;
      transform: translateY(-50%);
    }
  }

  .why-prev {
    text-align: center;
    max-height: 400px;

    .why__title {

      .why__header {
        color: #e1524b;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;
        margin-bottom: 15px;
      }

      .why__descr {
        color: #777777;
        font-size: 13px;
        line-height: 20.8px;
        margin-bottom: 70px;
      }
    }
  }

  .why-slider {
    display: flex;
    justify-content: space-between;

    .why-wrap {
      background-color: #b0b8b9;
      width: 370 / 1171 * 100% + 1%;
      height: 260px;
      border-radius: 10px;
      transform: translateY(35%);
      z-index: 1;
    }

    .why-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      margin: 15px 0;

      .why-dots {
        display: flex;

        .dots {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: #ececec;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .why-dash {

        .dash {
          width: 15px;
          height: 6px;
          border-radius: 30%;
          background-color: #ececec;
        }
      }
    }

    .why-img {
      background-color: #62b9b0;
      width: 95%;
      height: 80%;
      margin: 2px auto;
      border-radius: 10px;

      .why-img__item {
        color: #ffffff;
        font-size: 30px;
        line-height: 3.6px;
        padding-top: 50%; // if !url
      }
    }

    .main {
      width: 572 / 1171 * 100% - 5%;
      height: 360px;
      position: absolute;
      transform: translate(50%, 10%);
      z-index: 2;

      .why-img {
        background-color: #7f8c8c;
        width: 96%;
        height: 85%;
      }
    }
  }

  .why-after {
    display: flex;
    justify-content: space-between;
    transform: translateY(100%);

    .why-choose {
      max-width: 220px;
      margin-right: 50px;

      .why-choose__header {
        color: #7f8c8c;
        font-size: 16px;
        line-height: 19.2px;
        margin-bottom: 35px;
        font-weight: 700;
      }

      .why-choose__list {
        color: #777777;
        font-size: 13px;
        line-height: 26px;

        .fa-arrow-right {
          width: 10px;
          height: 12px;
          color: #e1524b;
          font-size: 12px;
          line-height: 1.44px;
        }

        p {
          width: 205px;
        }

        li {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;

          i {
            margin-right: 5px;
          }
        }
      }
    }
  }

  .why-percent {
    max-width: 550px;

    .why-percent__descr {
      color: #777777;
      font-size: 13px;
      line-height: 24.7px;
      text-align: center;

      span {
        color: #e1524b;
        text-decoration: underline;
      }
    }

    .percents-wrap {
      display: flex;
      position: relative;
      transform: translateX(-5.3%);

      .number {
        h2 {
          color: #7f8c8c;
          font-size: 30px;
          font-weight: 700;
          line-height: 36px;
        }
      }

      h3 {
        color: #7f8c8c;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.2px;
        text-transform: uppercase;
        text-align: center;
        transform: translateX(6px);
        margin-top: 15px;
      }

      .percent {
        position: relative;
        widows: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: transparent;
        z-index: 1;

        .number {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          position: absolute;
          top: 0;
          left: 4px;
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }

        &:nth-child(1) {
          svg {
            circle {
              &:nth-child(2) {
                stroke-dashoffset: calc(220 - (220 * 50) / 100);
                stroke: #76c7c0;
              }
            }
          }
        }

        &:nth-child(2) {
          svg {
            circle {
              &:nth-child(2) {
                stroke-dashoffset: calc(220 - (220 * 70) / 100);
                stroke: #76c7c0;
              }
            }
          }
        }

        &:nth-child(3) {
          svg {
            circle {
              &:nth-child(2) {
                stroke-dashoffset: calc(220 - (220 * 80) / 100);
                stroke: #76c7c0;
              }
            }
          }
        }

        &:nth-child(4) {
          svg {
            circle {
              &:nth-child(2) {
                stroke-dashoffset: calc(220 - (220 * 100) / 100);
                stroke: #76c7c0;
              }
            }
          }
        }
      }

      svg {
        position: relative;
        top: 0;
        left: 0;
        width: 150px;
        height: 150px;
        transform: rotate(180deg);

        circle {
          fill: none;
          stroke: #e2534b;
          stroke-width: 15;
          stroke-linecap: square;
          transform: translate(5px, 5px);

          &:nth-child(2) {
            stroke-dasharray: 200;
            stroke-dashoffset: 200;
          }
        }
      }
    }
  }

  .why-review {
    max-width: 275px;

    .review__header {
      color: #7f8c8c;
      font-size: 16px;
      line-height: 19.2px;
      margin-bottom: 40px;
      font-weight: 700;
    }

    .review__descr {
      width: 234px;
      color: #777777;
      font-size: 13px;
      font-style: italic;
      line-height: 24.7px;
      padding-left: 20px;
      margin-bottom: 25px;
    }

    .review__author {
      color: #777777;
      font-size: 16px;
      line-height: 30.4px;
      padding-left: 60px;
      font-weight: 700;
    }
  }
}