include ../utils/mixins
block variables

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    script(src="https://kit.fontawesome.com/9d7848fd4b.js" crossorigin="anonymous")
    title #{title}
    block head

  body(class=pageClass)
    include ../includes/modules/header
    block content

    block script